{% extends 'dashbord.html.twig' %}

{% block body %}
    <style>
        input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
            border-bottom: 1px solid #5eb0e6!important;
            -webkit-box-shadow: 0 1px 0 0 #5eb0e6!important;
            box-shadow: 0 1px 0 0 #5eb0e6!important;
        }
    </style>
    <nav class="blue-grey" style="padding:0 20px!important;height:50px;line-height:50px;opacity:0.5;">
        <div class="nav-wrapper right-align">
            <div class="col s12">
                <a href="{{ path('app_accueil_index') }}" class="breadcrumb" style="font-size:15px;">Accueil</a>
                <a href="{{ path('app_programme_index') }}" class="breadcrumb" style="font-size:15px;">Programmes</a>
                <a href="{#{{ path('app_programme_vue', {'id': programme.id }) }}#}" class="breadcrumb" style="font-size:15px;">Visualiser un programme</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h3 class="center-align">Visualisation d'un programme</h3>
            {% for prg in programme %}
                    {#{{ dump(prg) }}#}
                <div class="col s12">
                    <p><b>Nom du programme : </b>{{ prg.nom }}</p>
                    <p><b>Description programme : </b>{{ prg.description }}</p>
                    <p><b>Numéro de semaine : </b>{{ prg.semaine }}</p>
                    <p><b>Prix en GoldCoin du programme : </b>{{ prg.coin }} GC</p>
                    <p><b>Coach associé : </b>{{ prg.user.username }} </p>
                </div>
                <div class="col s12">
                    <h4>Seances associés à ce programme : </h4>
                    {% for seance in seances %}
                        {% if seance.programme.id == prg.id %}
                            <div class="col s4">
                                <p><b>Nom de la seance : </b>{{ seance.nom }}</p>
                                <p><b>Description de la seance : </b>{{ seance.description }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            {% endfor %}

        </div>
    </div>


{% for prg in programme %}
    <div class="container">
        <h3 class="center-align">Programme {{ prg.nom }}</h3>
        <div class="col s12 min-p">
            <p><b>Description : </b>{{ prg.description }}</p>
            <p><b>Numéro de semaine : </b>{{ prg.semaine }}</p>
            <p><b>Prix en GoldCoin du programme : </b>{{ prg.coin }} GC</p>
            <p><b>Coach associé : </b>{{ prg.user.username }} </p>
        </div>
        <h4>Seances associés à ce programme : </h4>
        <div id="card-container" class="row">
            <!-- Col: Card 2 -->
            {% for seance in seances %}
            {% if seance.programme.id == prg.id %}
                <div class="col s12 m6 l4">
                    <!-- Card 2 -->
                    <div class="card">
                        <div class="card-content white-text">
                            <div class="card__date" style="margin-right: 50px;">
                                <p class="card__date__day" style="color: #fff;text-align: center; font-weight: bold;">{{ seance.date|date("d/m") }}</p>
                            </div>

                            <div class="card__date" style="background:red;">
                                <p class="card__date__day" style="color: #fff;text-align: center; font-weight: bold;">{{ seance.datetimedebut|date("h:i") }} - {{ seance.datetimefin|date("h:i") }}</p>
                            </div>
                            <span class="card-title grey-text text-darken-4">{{ seance.nom }}</span>

                            <p class="card-subtitle grey-text text-darken-2"><b>Description programme : </b>{{ seance.description }}</p>
                        </div>
                    </div>
                    <!-- End of card -->
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}

    <script>
        {% if userRoles == "ROLE_COACH" %}
        var iconMenu = document.getElementById('users');
        iconMenu.style = "display:none;";
        {% endif %}
        {% if userRoles == "ROLE_SUPER_ADMIN" %}
        var iconMenuDispo = document.getElementById('dispos');
        iconMenuDispo.style = "display:none;";
        var iconMenuProgs = document.getElementById('progs');
        iconMenuProgs.style = "display:none;";
        var iconMenuSeances = document.getElementById('seances');
        iconMenuSeances.style = "display:none;";
        {% endif %}
        $(document).ready(function(){
            $('select').formSelect();
            $('.datepicker').datepicker({});
        });
    </script>

{% endblock %}


