{% extends 'dashbord.html.twig' %}

{% block body %}
    {% if userRoles == "ROLE_SUPER_ADMIN" or userRoles == "ROLE_COACH" %}

        <!-- card programme -->
<div class="container">
    <div id="card-container" class="row">
        <!-- Col: Card 2 -->
        <h3 style="text-align: center;">Nos trois derniers programmes</h3>
        {% for prg in lastProgrammes %}
            <div class="col s12 m6 l4">
                <!-- Card 2 -->
                <div class="card">
                    <div class="card-content white-text">
                        <span class="card-title grey-text text-darken-4">Programme : {{ prg.nom }}</span>

                        <p class="card-subtitle grey-text text-darken-2"><b>Numéro de semaine : </b>{{ prg.semaine }}</p>
                        <p class="card-subtitle grey-text text-darken-2"><b>Prix en GoldCoin du programme : </b>{{ prg.coin }} GC</p>
                        <p class="card-subtitle grey-text text-darken-2"><b>Coach associé : </b>{{ prg.user.username }} </p>
                    </div>
                </div>
                <!-- End of card -->
            </div>
        {% endfor %}
    </div>
</div>


        <!-- profile card -->
<div class="container">
    <div id="card-container" class="row">
        <h3 style="text-align: center;">Nos trois derniers profils</h3>
        {% for lastUser in lastUsers %}
            {% if lastUser.roles[0] == "ROLE_USER" %}
                <div class="col s12 m6 l4">
                    <div class="card">
                        <div class="profile">
                            {% if lastUser.image == '' or lastUser.image == null %}
                                <img src="{{ asset('/images/default-user.png') }}" class="thumbnail">
                            {% else %}
                                <img src="{{ asset('/upload/image/coach/' ~ lastUser.image) }}" class="thumbnail">
                            {% endif %}
                            <h3 class="name" style="margin: 10px 0;">{{ lastUser.username }}</h3>
                            <p class="title" style="margin-bottom: 0px;">Nombre de GoldCoin : {{ lastUser.nbCoin }}</p>

                            <p class="description">{{ lastUser.description }}</p>
                            {% if userRoles == "ROLE_SUPER_ADMIN"%}
                            <div style="text-align: center" class="button-profil">
                                <a href="{{ path('app_user_update', {'id': lastUser.id }) }}">
                                    <button type="button-left" class="btn" style="margin-bottom: 5px;">Modifier</button>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
    {% endif %}

    <script>
        {% if userRoles == "ROLE_COACH" %}
        var iconMenu = document.getElementById('users');
        iconMenu.style = "display:none;";
        {% endif %}
        {% if userRoles == "ROLE_SUPER_ADMIN" %}
        var iconMenuDispo = document.getElementById('dispos');
        iconMenuDispo.style = "display:none;";
        var iconMenuProgs = document.getElementById('progs');
        iconMenuProgs.style = "display:none;";
        var iconMenuSeances = document.getElementById('seances');
        iconMenuSeances.style = "display:none;";
        {% endif %}
    </script>
{% endblock %}


