{% extends 'dashbord.html.twig' %}

{% block body %}
    <style>
        div#tableProgramme_length {
            display: none;
        }
    </style>
    {% if userRoles == "ROLE_SUPER_ADMIN" or userRoles == "ROLE_COACH" %}
        <nav class="blue-grey" style="padding:0 20px!important;height:50px;line-height:50px;opacity:0.5;">
            <div class="nav-wrapper right-align">
                <div class="col s12">
                    <a href="{{ path('app_accueil_index') }}" class="breadcrumb" style="font-size:15px;">Accueil</a>
                    <a href="{{ path('app_programme_index') }}" class="breadcrumb" style="font-size:15px;">Programme</a>
                </div>
            </div>
        </nav>

        <h3 class="center-align">Liste de tous les évaluations des coachs</h3>
        <div class="container">
            <div class="row">
                <table class="striped mdl-data-table" id="tableProgramme">
                    <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Coach</th>
                        <th>Commentaire</th>
                        <th>Note</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for evalCoach in evalCoachs %}
                        <tr>
                            <td>{{ evalCoach.user.username }}</td>
                            <td>{{ evalCoach.coachId }}</td>
                            <td>{{ evalCoach.commentaire }}</td>
                            <td>{{ evalCoach.note }}/5</td>
                            <td>
                                {% if userRoles == "ROLE_SUPER_ADMIN" %}
                                    <a href="{{ path('app_evalcoach_delete', {'id': evalCoach.id }) }}">
                                        <i class="fa fa-2x fa-times red-text" aria-hidden="true"></i>
                                    </a>
                                {% else %}
                                    Aucunes actions disponibles
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    <script>
        $(document).ready(function() {
            $('#tableProgramme').DataTable( {
                columnDefs: [
                    {
                        targets: [ 0, 1, 2 ],
                        className: 'mdl-data-table__cell--non-numeric'
                    }
                ],
                language: {
                    "sProcessing":     "Traitement en cours...",
                    "sSearch":         "Rechercher&nbsp;:",
                    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix":    "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst":      "Premier",
                        "sPrevious":   "Pr&eacute;c&eacute;dent",
                        "sNext":       "Suivant",
                        "sLast":       "Dernier"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    },
                    "select": {
                        "rows": {
                            _: "%d lignes séléctionnées",
                            0: "Aucune ligne séléctionnée",
                            1: "1 ligne séléctionnée"
                        }
                    }
                }
            } );
        } );
    </script>
{% endblock %}